html {
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 5, 5);
    font-family: 'Montserrat', sans-serif;
     margin: 0; 
     color: white;
}


.whatsapp-image {
    width: 200px;
    /* Cambia el valor "200px" al tamaño deseado */
    height: auto;
    /* Esto mantendrá la proporción original de la imagen */
}

.nav-principal {
    padding: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


@media (min-width: 768px) {
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 50px 10px 30px;
    }
}

h1 {
    font-size: 150px;
    font-weight: 400;
    padding: 50px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
    h1 {
        font-size: 80px;
        font-weight: 400;
        padding: 20px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
h2 {
    font-size: 40px;
    font-weight: 300;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    
    h2 {
        font-size: 30px;
        font-weight: 300;
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #79136b;
    bottom: -3px;
    /* Cambia el valor a -3px */
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    bottom: -3px;
    /* Cambia el valor a -3px */
}



main {

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://wallpapers.com/images/high/boutique-clothes-on-wire-racks-mirror-fu3pt1du9vz9u4rm.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 600px;
  padding: 0;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  background-blend-mode: multiply;


/*   
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url(https://wallpapers.com/images/high/boutique-clothes-on-wire-racks-mirror-fu3pt1du9vz9u4rm.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
    padding: 0;
    color: rgb(255, 255, 255);
    margin-bottom: 10px; */

}

@media (max-width: 768px) {
    
    main {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://wallpapers.com/images/high/boutique-clothes-on-wire-racks-mirror-fu3pt1du9vz9u4rm.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 600px;
        padding: 0;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
        background-blend-mode: multiply;
      
    
    }
}

.logo{
    width: 100px;
    height: auto;
    text-align: center;
    /* text-align: justify; */
  
}

.logoTexto{
    display: flex;
    align-items: center;
   gap: 10px;
}
